  <div id="div_search">
  Chọn sàn:
  <%= select_tag "san", options_for_select(@san,1),{:onchange => "change_san();"} %>
  </div>
  <div id="table_companies">
    <table border="0" cellspacing="0" cellpadding="3">
      <tr class="tr_header">
        <th>No.</th>
        <th>Mã CK</th>
        <th>Sàn</th>
        <th>Tên công ty</th>
        <th>Tên quốc tế</th>
        <th>Địa chỉ</th>
        <th>Số điện thoại</th>
        <th>Fax</th>
        <th style="text-align:center;">Website</th>
      </tr>
    <% @data_companies.each_with_index do |com,index| %>

      <% website = com.website.include?("http")? com.website : ("http://" + com.website)%>

      <tr class="data_row row_<%=(index + 1)%2 %>">
        <td class="com"><%= index+1 %></td>
        <td class="com"><%=link_to(com.ma_ck,"company/" + com.id.to_s)%></td>
        <td class="com"><%= com.san_ck %></td>
        <td class="com"><%= com.ten_cong_ty %></td>
        <td class="com"><%= com.ten_quoc_te %></td>
        <td class="com"><%= com.dia_chi %></td>
        <td class="com"><%= com.dien_thoai %></td>
        <td class="com"><%= com.fax %></td>
        <td class="com" style="text-align:left;"><%=link_to(com.website, website)%></td>
      </tr>
    <% end %> 
    </table>
    </div>
<div id="footer">
</div>
<script type="text/javascript">
  var main_url = "<%= url_for :controller => 'home', :action => 'index'%>";
  var select_san = GetURLParameter('san_id');
  $('#san').val(select_san).prop('selected',true);
  if (!select_san) {
    $('#san').val("ALL").prop('selected',true);
  }
  //alert(select_san);
</script>
